/* Stylesheet for Insignificant index.html */

body {
	margin-top: 0px;
	background-image: url("../fuckingimagesandshit/Background@2x.png");
	background-attachment: fixed;
}

.super {
	position: relative;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 850px;
	box-shadow: 0px 0px 10px black; 
}

.top {
	position: fixed;
	width: 850px;
	margin: 0px auto;
}

.navbar {
	position: fixed;
	list-style: none;
	background-color: black;
	width: 862px;
	margin-left: -6px;
	height: 55px;
	box-shadow: 0 4px 2px -2px black;
	z-index: 4;
}
nav ul{
	margin-left: -10px;
}

nav li{
	display:inline-block;
	list-style: none;
	width: 100px;
	font-size: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-top: 10px;
}

li img {
	width: 100px;
	vertical-align: text-top;
	margin-top: -50;
	margin-left: -15px;
	padding: 0;

}

li img:hover {
	-webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
    -webkit-transform:rotate(-360deg);
    -moz-transform:rotate(-360deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
}

/*insignificant link*/
nav a:link{
	color: #DDDDDD;
	text-decoration: none;
	font-family: "Helvetica"
}
/*insignificant visited*/
nav a:visited{
	color: #DDDDDD;
	text-decoration: none;
}
/*insignificant hover*/
nav a:hover{
	color: white;
	text-decoration: none;
}
/*insignificant acitve*/
nav a:active{
	color: white;
	text-decoration: underline;
}

.headBackground {
	position: absolute;
	z-index: 0;
	width: 850px;
}

.logo {
	position: absolute;
	z-index: 1;
	top: 130px;
	left: 30px;
	width: 600px;
}


/* Everything is in herf */
.content {
	position: relative;
	z-index: 2;
	top: 330px;
	width: 850px;
	min-height: 1200px;
	background-color: white;
	border-top: 2px solid black;
	margin: 0px auto;
	opacity: 1;
}

.header {
	width: 800px;
	margin: 25px;
	font-size: 20px;
}